* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #F3F1FF;
}
.container {
    max-width: 930px;
    margin: 0 auto;
}
header {
   background-color: #562EFF;
}
.navbar-nav .nav-link {
    color: #fff;
    padding: 0 15px !important;
    
}
.navbar img {
    width: 40px;
}
main {
    max-width: 870px;
    background-color: #fff;
}
.player img {
    width: 56px;
}
.player:hover p {
    cursor: pointer;
    color: gray;
}

.top-heading-title {
    color: #562EFF;
    padding: 30px 0;
}
.blog img {
    width: 117px;
}
.blog-text h5:hover {
    cursor: pointer;
    color: gray;
}
.blog-text p {
    color: #562EFF;
    font-weight: 500;

}
.latest-course {
    padding: 50px 0;
}
.card {
    border:none;
    border-radius: 10px;
}
.card:hover {
    transition: .3s;
    box-shadow: 5px 5px 10px gray;
}
.card-body {
    padding: 10px 8px;
}
.card-footer {
    border:none;
    background: none;
    border-radius: 10px;
}
.card-footer img {
    width: 12.39px;
}
.time {
    padding: 0 5px;
    border-radius: 10px;
    background-color: #FFE4E8;
}
.latest-course {
    border-top: 20px solid #F3F1FF;
}
.footer-area {
    color: #fff;
    text-align: center;
    font-weight: 400;
    padding: 40px 0;
    border-top: 20px solid #F3F1FF;
    background-color: #562EFF;
}
